.container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 64px;
  max-width: 1440px;
  margin: 0 auto;
  padding: 48px 64px 52px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
