.btn {
  position: fixed;
  bottom: 50px;
  right: 30px;
  padding: 10px;

  background-color: transparent;
  color: var(--button);
  border: 1px solid var(--gray-light);
  border-radius: 50%;
  z-index: 1000;
  transition: opacity var(--transition);
}

.btn:hover,
.btn:focus {
  border: 1px solid var(--button-hover);
  color: var(--button-hover);
}
