.container {
  position: relative;
  max-width: 1440px;
  margin: 0 auto;
  padding: 24px 16px 40px;
}

.listLinks {
  display: flex;
  gap: 40px;

  width: 100%;
  padding-bottom: 24px;
  margin-bottom: 24px;
  border-bottom: 1px solid var(--gray-light);
}

.link {
  font-weight: 600;
  font-size: 20px;
  line-height: 120%;

  padding-bottom: 24px;
  border-bottom: 5px solid transparent;
  transition: border-color var(--transition);
}

.active {
  border-bottom: 5px solid var(--button);
}

@media (min-width: 768px) {
  .container {
    padding: 24px 32px 40px;
  }
}

@media (min-width: 1024px) {
  .bottom {
    display: flex;
    justify-content: space-between;
    gap: 32px;
    justify-content: center;
  }
}

@media (min-width: 1440px) {
  .container {
    padding: 48px 64px 80px;
  }

  .listLinks {
    margin-bottom: 44px;
  }

  .bottom {
    gap: 40px;
  }
}
