.title {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--gray);
}

.inputWrapper {
  position: relative;
  margin: 8px 0 40px;
}

.inputIcon {
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
}

.inputEmpty {
  fill: var(--gray);
}

.inputFilled {
  fill: var(--main);
}

.input {
  width: 100%;
  border: 1px solid transparent;
  border-radius: 12px;
  padding: 16px 20px 16px 48px;

  background-color: var(--inputs);
}

.input::placeholder {
  color: var(--gray);
}

.input:hover,
.input:focus {
  border: 1px solid var(--button);
}

.error {
  position: absolute;
  top: 120%;
  left: 12px;
  transform: translateY(-50%);
  color: var(--button);
}

.filterTitle {
  font-weight: 600;
  font-size: 20px;
  line-height: 120%;

  margin: 32px 0 24px;
}

.filterList {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;

  width: 360px;
  padding-top: 24px;
  margin-bottom: 40px;
  border-top: 1px solid var(--gray-light);
}

.hiddenCheckbox {
  display: none;
}

.checkboxWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;

  cursor: pointer;
  border-radius: 12px;
  width: 112px;
  height: 96px;

  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.01em;
  text-align: center;
  border: 1px solid var(--gray-light);
  transition: border-color (--transition);
}

.hiddenCheckbox:checked + .checkboxWrapper {
  border: 1px solid var(--button);
}

.checkboxWrapper:hover {
  border: 1px solid var(--button);
}

.btn {
  padding: 16px 56.5px;
  margin-right: 24px;
}
