.section {
  padding: 24px 12px;
  border: 1px solid var(--gray-light);
  border-radius: 10px;
}

.title {
  font-weight: 600;
  font-size: 20px;
  line-height: 120%;

  margin-bottom: 8px;
}

.text {
  color: var(--gray);
  margin-bottom: 24px;
}

.fieldWrapper {
  position: relative;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.btn {
  padding: 16px 63px;
  width: 166px;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .section {
    padding: 44px 57px;
  }
}

@media (min-width: 1024px) {
  .section {
    width: 463px;
  }
}

@media (min-width: 1280px) {
  .section {
    width: 599px;
  }
}

@media (min-width: 1440px) {
  .section {
    width: 641px;
  }
}
